@font-face {
    font-family: "Overpass";
    src: url(../fonts/overpass/Overpass-Regular.ttf);
}

@font-face {
    font-family: "Overpass Light";
    src: url(../fonts/overpass/Overpass-Light.ttf);
}

@font-face {
	font-family: "Noto";
	src: url(../fonts/notosans/NotoSans-Regular.ttf);
}

html, body, .container {
	font-family: "Noto";
	color: #9e9e9e;
	background: black;
}

a.link {
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition:.5s;
	color: #29b6f6;
}

a.link:hover {
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition:.5s;
	color: white;
	text-decoration: none;
}

h1 {
	font-family: "Overpass";
	font-size: 3em;
}

h2 {
	font-family: "Overpass";
	font-size: 2em;	
}

body {
	text-align: center;
}

span.myo {
	font-family: "Overpass";
	color: #29b6f6;
}

.selector-container {
	height: 250px;
	margin: 0 auto;
}

.note-container {
	font-family: "Overpass";
	color: #29b6f6;
	font-size: 8em;
}

.small {
	font-family: "Overpass Light";
}

.dial {
	margin-top: 1em !important;
	font-family: "Overpass Light" !important;
	font-size: 4em !important;
}

.conduct-btn, .reset-btn, .feed-btn {
	margin-bottom: 30px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition:.5s;
	background: transparent;
	border: 2px solid #29b6f6;
	border-radius: 2px;
	box-shadow: 1px 1px 1px #29b6f6, 0px 0px 1px #29b6f6; 
	font-family: "Overpass";
	font-style: normal;
	font-size: 1.8em;
	padding: 5px 10px;
}

.reset-btn {
	margin-right: 10px;
	display: none;
}

.feed-btn {
	margin-left: 10px;
	display: none;
}

.conduct-btn:hover, .reset-btn:hover, .feed-btn:hover {
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition:.5s;
  	color: white;
	background: #29b6f6;
}

.output, .countdown, .conduct-page {
	display: none;
}

label {
	padding-bottom: 15px;
	font-size: 1.5em;
}

#circle {
	margin: auto;
	width: 20px;
    height: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #29b6f6;
}

#otherCircle {
	margin: 50px auto 0px;
	width: 20px;
    height: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #29b6f6;
    display: none;
}

.feedback {
	font-size: 1em;
}

footer {
	position: fixed;
	text-align: center;
	width: 100%;
	bottom: 0;
}

label:hover:before {
	border: 2px solid #6cbaf9 !important;
}

.fixed {
	padding-top: 20px;
	height: 80px;
}

.fa {
	padding-left: 5px;
	padding-right: 5px;
}

.heart-icon {
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
	color: #29b6f6;
}

.heart-icon:hover {
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
	color: white;
}





svg {
  margin-bottom: 200px;
}

g * {
  stroke: #9e9e9e;
}

.highlight.line {
  stroke: #29b6f6;
}
